@tailwind base;
@tailwind components;
@tailwind utilities;
body{
 
}
table {
  
}
th {
    color: black;
}
td {
    color: black;
}
tr:nth-child(even){
    background-color: rgba(41, 40, 40, 0.319);
    
}


  ::-webkit-scrollbar {
    width: 13px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    border: 1.5px solid rgba(0, 0, 0, 0.811);
    
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(27, 27, 27, 0.983); 
    border-radius: 5px;  
    
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    
  }
  